/* GLOBAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BODY */
body {
    background: linear-gradient(to bottom, #722f37, #5b232d);
    font-family: 'Source Sans Pro', sans-serif;
}

ul {
    list-style: none;
}

/* FONTES */
h1, h3, .price {
    font-family: 'Source Sans Pro', serif;
    text-transform: uppercase;
    color: #F5DEB3;
}

h2 {
    color: #722f37;
}

p {
    color: #DCDCDC;
}

/* HEADER */
header {
    padding: 32px 0;
    text-align: center;
}

header,
section {
    max-width: 300px;
    margin: 0 auto;
}

header h1 {
    margin-bottom: 4px;
    font-size: 28px;
    line-height: 33px;
}

header p {
    font-size: 14px;
    line-height: 16px;
}

/* SECTION */
section {
    margin-bottom: 24px;
}

.menu-category {
    background-color: #FED7AA;
    color: #722f37;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 8px;
}

.menu-category.alimentos {
    border-radius: 8px 8px 0 0;
}

.menu-category.bebidas {
    border-radius: 0;
}

/* LISTA */
ul li {
    margin-bottom: 16px;
    display: flex;
    padding: 8px;
    border: 1px solid #F5DEB3;
    border-radius: 8px;
}

.panel.alimentos ul li:first-child,
.panel.bebidas ul li:first-child {
    margin-top: 8px;
}

li .details {
    max-width: 240px;
}

.details h3 {
    margin-bottom: 8px;
    font-size: 16px;
}

.details p {
    font-size: 14px;
    line-height: 21px;
}

/* Estilização do painel */
.panel {
    padding: 0 18px;
    background-color: #722f37;
    overflow: hidden;
}
